*{
    padding: 0;
    margin: 0;
}
:root,body{
    width: 100%;
    height: 100%;
    background-color: #DB4D6D;
    

}
h2{
    font-size: 40px;
    color: #fff;
    display: block;
    margin-right: 50px;
}
.wrapper{
    height: 100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.mouster{
    position: relative;
    left: 0;
    top: 0;
    width: 110px;
    height: 100px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0,0, 0.2);
    border-radius: 20px;
    background-color: #e55A54;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    animation:jumping 0.8s infinite  alternate;
}
.mouster::before{
  position: absolute;
  left: calc(50%);
  top: -10px;
  transform: translateX(-75%) rotate(45deg);
  display: block;
  content: '';
  width: 20%;
  height: 10px;
  background-color: #fff;
  border-radius: 4px;
}
.mouster::after{
    position: absolute;
    left:calc(50%) ;
    top: -10px;
    transform: translateX(-25%) rotate(-45deg);
    display: block;
    content: '';
    width: 20%;
    height: 10px;
    background-color: #fff;
    border-radius: 4px;
  }
  .mouster .eye{
      width: 40%;
      height: 40%;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .eye .eyeBall{
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background-color: #0C4475;
      animation: move 1s infinite alternate,
                 
  }
  .mouster .mouth{
      width: 32%;
      height: 12px;
      background-color: #fff;
      border-radius: 6px;
      margin-top: 10px;
  }
  .mouster.blue{
      background-color:#0C4475 ;
      animation-delay: 0.4s;

  }
  .blue .eye .eyeBall{
      background-color:#e55A54 ;
  }
  .blue .mouth{
      background-color: #e55A54;
  }
  @keyframes jumping{
      from{
          top: 0;
          box-shadow: 10px 10px 10px 0 rgba(0, 0,0, 0.2);
      }
      50%{
          top: 0;
          box-shadow: 10px 10px 10px 0 rgba(0, 0,0, 0.2);
      }
      to{
          top: -50px;
          box-shadow: 10px 120px 50px 0 rgba(0, 0,0, 0.2);

      }
  }
  @keyframes move{
      0%{
          transform: translateX(-50%);
      }
      10%{
          transform: translateX(-50%);
      }
      90%{
          transform: translateX(50%);
      }
      100%{
          transform: translateX(50%);
      }
  }
  .page{
      width: 100%;
      height: 100%;
      background-color:#0C4475 ;
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: opacity .5s .5s ;
  }
  .page .loading{
      width: 200px;
      height: 10px;
      background-color: #fff;
      margin-top: 30px;
      border-radius: 10px;
      overflow: hidden;
  }
  .page .backing
  {
      width: 50%;
      height: 10px;
      background-color: #e55A54;
  }
  .page.complete{
      opacity: 0;
  }
  .page.complete .mouster{
      transition: .5s; 
      transform: scale(0.01) rotate(360deg);
             
  }
  